<style>
#collections-listing ul {
list-style-type: none;
list-style-position: outside;
overflow: hidden; 
}
#collections-listing ul li {
float: left;
width: 200px;
height: 300px;
margin-right: 50px;
margin-bottom: 50px;
}
#collections-listing ul li.last-in-row {
margin-right: 50px;
}
.hint {
  font-size: 18px;
}

</style>

{% assign linklist = linklists["brands"] %}

<div class="twelve columns collection-list">
  <h1 class="page-title">{{page.title | escape}}</h1>
  <div id="collections-listing">
    <h2>All of our most trusted Brands</h2>
    <ul>
    {% for link in linklist.links %}
      {% assign link_item = link.object %}
      <li class="{{ link.handle }}-collection{% cycle '', '', '', ' last-in-row' %}">
      {% capture link_title %}{{ link_item.title | escape }}{% endcapture %}
        <div class="collection">
          <div class="collection-image">
            <a href="{{ link_item.url }}" title="Browse our {{ link_title }} collection">{% if link_item.image %}
              {{ link_item.image.src | collection_img_url: 'medium' | img_tag: link_title }}{% else %}
              {{ link_item.products.first.featured_image | product_img_url: 'medium' | img_tag: link_title }}{% endif %}
            </a>
          </div><!-- end of .collection-image -->
          <div class="collection-description">
            <h3>
              <a href="{{ link_item.url }}" title="Browse our {{ link_title }} collection">
                {{ link_item.title }}
              </a>
              <p class="hint">
                 {{ link_item.all_products_count }} {{ link_item.all_products_count | pluralize: 'item', 'items' }}
              </p>
            </h3>
          </div><!-- end of .collection-description -->
        </div><!-- end of .collection -->
      </li>
    {% endfor %}
    </ul>
  </div><!-- end of #collection-listing -->
</div>

